html {
  scroll-behavior: smooth;
  color-scheme: light only;
  background-color: #000000;
}

/* body {
  color: #213547 !important;
} */

#root {
  background-color: black;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}
