:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light only;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: crosshair;
}
* {
  color-scheme: light only;
}

/* Global css for elements */
h1 {
  font-size: 3.7em;
  line-height: 1.4;
  font-weight: 500;
  color: white;
}

h2 {
  font-size: 1.3rem;
  margin: 1.5rem 0;
  opacity: 0.9;
  font-weight: 300;
  color: white;
}

.buttons {
  gap: 1rem;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8rem 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.page-section {
  padding: 3rem 8rem;
  background-color: #000000;
  color: white;
}

a {
  font-weight: 400;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #6b6b6b;
}

p {
  font-size: 1.1em;
}

/* Override dark mode preferences completely */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light only !important;
    color: #213547 !important;
    background-color: rgb(243, 243, 243) !important;
  }

  * {
    color-scheme: light only !important;
  }

  body {
    background-color: rgb(243, 243, 243) !important;
    color: #213547 !important;
  }

  a:hover {
    color: #6b6b6b !important;
  }
}
