.why {
  padding: 1rem 3rem;
  padding-top: 5rem;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.1rem;
}

.why > h1 {
  font-size: 3rem;
  font-weight: 600;
}

.timeline-flow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem 0;
}

.timeline-step {
  padding: 1rem 2rem;
  flex: 1;
  max-width: 350px;
  text-align: left;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 20px;
}
.timeline-step > p {
  color: rgb(80, 80, 80);
  margin-top: 1rem;
}
.timeline-step > .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.timeline-step > .title h3 {
  font-size: 1.4rem;
  font-weight: 500;
}
.timeline-step > .title img {
  width: 46px;
  height: 46px;
}

.why > .rightarrow {
  margin: 0;
  padding: 0;
}

/* Highlight styles */

.timeline-step > p > span {
  /* color: red; */
  font-weight: 600;
  font-size: 1.15rem;
  color: black;
  background: linear-gradient(to bottom, transparent 60%, #fce041 50%);
}
